@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    background-color: #C5D4D6;
}
.header__style{
    max-width: 100vw;
    width: 100%;
    background: #F7F7F7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
}
.header{
    width: 1440px;


    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;

    padding: 15px 0px 15px 50px;

    margin: 0 auto;
}

.header__logo-image-col{
    width: 194px;
    height: 30px;
    flex-shrink: 0;
}

.header__search-bar{
    width: 330px;
    padding: 9px 10px 10px 51px;
    background: url('../image/search.svg') no-repeat 11px 4px white   ;

    border: 1px solid #8F8F8F;
    border-radius: 17px;
}

.header__search-bar::placeholder{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8F8F8F;
}

.header__menu-ul{
    display: flex;
    flex-direction: row;
    gap: 38px;
}

.header__profile{
    display: flex;
    gap: 33px;
    align-items: center;
}

.header__menu-a{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #525252;
}


.container{
    max-width: max-content;

    margin: 0 auto;
}

.main{
    max-width: 540px;
}

.main__column{
    display: flex;
    gap: 20px;
    margin-top: 62px;
}

.main__header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-bottom: 19px;
}

.main__h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #353535;
}

.main__h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    
    /* color-gris-4 */
    
    color: #353535;
}

.content__article-preview-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.content__article-preview-category{
    padding: 3px 9px 4px 9px;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    color: #525252;

    background: #EEDEB3;
    border-radius: 5px;
}
.content__article-left{
    width: 162px;
    height: 170px;
    border-radius: 10px;
    flex-shrink: 0;
}

.content__article{
    padding: 28px;
    margin-bottom: 18px;
    
    display: flex;
    flex-direction: row;
    gap: 20px;

    background: #F7F7F7;
    /* sombra */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}

.content__article-main{
    width: 100%;
}

.content__article-preview-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8F8F;
    margin-bottom: 22px;
}

.content__article-preview{
    /*
    max-width: 246px;
    */
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #353535;
    margin-bottom: 50px;
}



.content_article-preview-footer{
    display: flex;
    align-items: center;
}

.bookmarks-icon-image{
    margin-left: 18px;
}

.content_article-preview-footer-text{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #525252;
}

/*

RIGHT SIDE OF MAIN CONTENT

*/

.sidebar{

}

.sidebar__popular-article-block{
 margin-bottom: 13px;
}

.sidebar__article{
    background: #F7F7F7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 20px 10px 20px 13px;
}

.sidebar__header{
    margin-bottom: 19px;
}

.main__sidebar-h3{
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;

    color: #353535;

    margin-bottom: 8px;
}

.sidebar__article-preview-subtitle{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    /* color-gris-2 */

    color: #8F8F8F;
    margin-bottom: 8px;
}

.sidebar__article-preview{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    /* color-gris-4 */

    color: #353535;
}

.sidebar__article-preview-image{
    width: 100px;
    height: 104.94px;
}

.sidebar__article-main{
    display: flex;
    justify-content: space-around;
}

.sidebar__item{
    border-bottom: 1px solid #353535;
    margin-bottom: 35px;
}

.sidebar__article-left{
    width: 128px;
    margin-bottom: 25px;
}

.sidebar__button{
    padding: 12px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #188ACB;

    width: 100%;
    border: 1px solid #8F8F8F;
    border-radius: 10px;

    display: flex;
    justify-content: center;
}

.sidebar__personas-block{
    margin-bottom: 20px;
}

.sidebar__personas{
    background: #F7F7F7;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 17px 14px 17px 10px;
}

.sidebar__personas-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.sidebar__personas-image{
    width: 59px;
    height: 59px;
}

.sidebar__personas-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.sidebar__personas-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8F8F8F;
}

.sidebar__personas-container-inside{
    display: flex;
    flex-direction: column;
}

.sidebar__personas-button{
    padding: 8px 7px 7px 7px;
    width: 100%;

    border: 1px solid #8F8F8F;
    border-radius: 10px; 

    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;

    color: #188ACB;
}

.mobile{
    visibility:hidden;
}

@media (max-width: 1400px){
    .header{
        width: 100%;
        padding: 15px 25px 15px 10px;
    }

    .header__menu-ul{
        gap: 20px;
    }

    .header__search-bar{
        max-width: 30%;
        min-width: 100px;
    }

}


@media (max-width: 840px){
    .main__column{
        display: flex;
        flex-direction: column;
    }

    .sidebar{
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: space-between;
    }

    .header{
        flex-wrap: wrap;
        gap:22px;
    }


    .header__profile{
        display: none;
    }

    .mobile{
        visibility:visible;
    }

    .main__header, .sidebar__header{
        padding: 0 15px 0 15px;
    }

    .content__article{
        padding: 15px;
        margin-bottom: 18px;
        
        display: flex;
        flex-direction: row;
        gap: 15px;
    
        background: #F7F7F7;
        /* sombra */
    
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.11);
        border-radius: 10px;
    }
}

@media (max-width: 500px){
    .main__column{
        margin-top: 20px;
    }

    .sidebar__personas-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 7px;
    }

    .sidebar__article-right{
        margin-bottom: 10px;
    }
    .sidebar__article-main{
        display: flex;
        flex-wrap: wrap;
    }
    .sidebar__popular-article-block{
        flex-shrink: 0;
    }
}

@media (max-width: 400px){
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
}